# Node
node_modules/
npm-debug.log
yarn-error.log
.env
.DS_Store

# Angular
/dist/
/coverage/
/tmp/
/out-tsc/
/.angular

# Docker
*.log
docker-compose.override.yml

# Environment / secrets
.env*
*.pem
*.key
*.crt

# OS junk
Thumbs.db
.DS_Store
